body{
    background-image: url('shinchan.webp');
    background-size: cover;
        background-position: center;
        background-attachment: fixed;
}
h1{
    text-align: center;

    color: rgb(230, 35, 35);
    font-size: 50px;
    font-family: 'Arial', sans-serif;
    margin-top: 50px;
}
button{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgb(243, 248, 248);
    color: rgb(240, 50, 50);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid rgb(240, 50, 50);
}
button:hover{
    background-color: rgb(240, 50, 50);
    color: white;
    border: 2px solid rgb(240, 50, 50);
    
}
